* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #b4a487;
}

header {
    background-color: #85714d;
    height: 11vh;
    display: block;
    display: grid;
    align-items: center;
    padding: 10px;
    grid-template-columns: 250px 130px 150px auto auto auto auto auto;
}

.insta {
    width: 35px;
   
    
}

.facebook {
    width: 35px;
    
}

.x {
    width: 35px;
}

.redes {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.navgation {
    display: flex;
    justify-content: space-evenly;
    
}

.home {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 20px;
}

a {
    color: aliceblue;
    padding-left: 60px;
}

.conta {
    padding-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    

}

#linha {
    text-decoration: none;
}

#btn {
    color: #85714D;
    border-radius: 20px;
    border: solid 1px;
    width: 86px;
    height: 39px;
    font-size: 15px;
    margin-left: 30px;
   
    
}
#btn:hover{
    background-color: #b4b4b4;
    transition: 0.5s;
    cursor: pointer;
}
#texte {
    padding: 0;
    color: #85714D;
    text-decoration: none;
}

.cafe {
    justify-content: end;
}

main {
    background-color: black;
    width: 100%;
    height: 89vh;
    display: flex;
}

#entra {
    width: 960px;
    height: 105%;
    background-color: #b4a487;
    display: flex;
    flex-flow: column;
}

#image{
    width: 50%;
    height: 105%;
    background-image: url(image\ 11.png);
    background-size: cover;
}

#entra div {
    width: 100%;
    height: 33.3%;
    background-color: #b4a487;
    
}

#anjo {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-right: 30%;
    padding-left: 30%;
    text-align: justify;
}

#pedido {
    height: 62px;
    width: 413px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    background-color: #b4a487;
   
}

.pedido {
    text-align: center;
    

}

#pedido:hover{
    background-color: #86795f;
    transition: 0.5s;
    cursor: pointer;
}

footer {
    background-color: #85714d;
    height: 300px;
    display: grid;
}

.padding {
    display: flex;
    flex-direction: row;
    padding-left:106px ;
    padding-top: 100px;
}

.copy {
    color: aliceblue;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;
}

#a {
    padding-left: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

.a {
    text-align: center;
    padding-bottom: 20px;
}

